// node-sass --omit-source-map-url sass/styles.scss public/stylesheets/styles.css

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$white: #ffffff;
$white-ter: hsl(0, 0%, 96%);
$black-ter: hsl(0, 0%, 15%);
$black-bis: hsl(0, 0%, 7%);
$black: hsl(0, 0%, 4%);
$grey: hsl(0, 0%, 25%);
$grey-ter: hsl(0, 0%, 29%);
$epic-gamer-green: hsl(146, 100%, 39%);
$epic-gamer-green-bis: hsl(146, 100%, 25%);
$text-light: $white;

$primary: $epic-gamer-green;

$body-background-color: $black-ter;
$title-color: $white;
$subtitle-color: $white-ter;
$table-body-background-color: $black-bis;
$table-striped-row-even-background-color: $black-ter;
$table-head-background-color: $black-ter;
$table-cell-heading-color: $white-ter;
$table-color: $white-ter;
$table-head-cell-color: $white-ter;
$label-color: $white-ter;
$table-row-hover-background-color: $epic-gamer-green-bis;
$table-striped-row-even-hover-background-color: $epic-gamer-green-bis;
$navbar-background-color: $grey;
$navbar-item-color: $white;
$navbar-item-hover-background-color: $epic-gamer-green;
$navbar-item-hover-color: $white;
$navbar-dropdown-arrow: $white;
$navbar-dropdown-background-color: $black-ter;
$box-background-color: $grey;
$card-background-color: $grey;
$card-color: $white;
$modal-card-head-background-color: $black-ter;
$modal-card-body-background-color: $grey;
$modal-card-title-color: $white;
$link: $epic-gamer-green;
$link-hover: $white;

$pixel-shelf-font: 'Press Start 2P', sans-serif;

pixel-shelf-branding {
  font: 100% $pixel-shelf-font;
  color: #ffffff;
}

@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-o-steps/bulma-steps.sass";