<br>
<footer class="footer has-background-grey">
    <div class="content has-text-centered">
        <h1 class="title has-text-light">Pixel Shelf</h1>
        <p>
            <a href="https://github.com/alexsmbaratti/Pixel-Shelf">GitHub</a>
            <a> • </a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a> • </a>
            <a href="https://www.alexsmbaratti.com/pixel-shelf">About</a>
        </p>
    </div>
</footer>