<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>

            <a href="/library" class="navbar-item">
                Game Library
            </a>

            <a href="/platforms" class="navbar-item">
                Consoles
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Wish List
                    </a>
                    <a class="navbar-item">
                        amiibo
                    </a>
                    <a href="/identify" class="navbar-item">
                        Identify via UPC
                    </a>
                    <hr class="navbar-divider">
                    <a href="/add/mass" class="navbar-item">
                        Mass Import
                    </a>
                    <a class="navbar-item">
                        Export
                    </a>
                    <hr class="navbar-divider">
                    <a href="/backend" class="navbar-item">
                        Backend Info
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/add/console" class="button">
                        <strong>Add a Console</strong>
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/library/add" class="button is-primary">
                        <strong>Add a Game</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>