<script src="/js/navbar.js"></script>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a id="burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbar-menu" onclick="expandBurger()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/alien.png" width="28" height="28">
            </a>
        </div>
        <div class="navbar-start">
            <div id="library-dropdown" class="navbar-item has-dropdown is-hoverable" onclick="expandDropdown('library-dropdown')">
                <a href="/library" class="navbar-item">
                    Game Library
                </a>

                <div class="navbar-dropdown">
                    <a href="/wishlist" class="navbar-item">
                        Wish List
                    </a>
                    <a href="/library/backlog" class="navbar-item">
                        Backlog
                    </a>
                </div>
            </div>

            <a href="/platforms" class="navbar-item">
                Consoles
            </a>

            <div id="more-dropdown" class="navbar-item has-dropdown is-hoverable" onclick="expandDropdown('more-dropdown')">
                <a class="navbar-item">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a href="/amiibo" class="navbar-item">
                        amiibo
                    </a>
                    <hr class="navbar-divider">
                    <a href="/identify" class="navbar-item">
                        Identify via UPC
                    </a>
                    <hr class="navbar-divider">
                    <a href="/add/mass" class="navbar-item">
                        Mass Import
                    </a>
                    <a href="/export" class="navbar-item">
                        Export
                    </a>
                    <hr class="navbar-divider">
                    <a href="/backend" class="navbar-item">
                        Backend Info
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/add/console" class="button">
                        <strong>Add a Console</strong>
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/add/game" class="button is-primary">
                        <strong>Add a Game</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>