<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/library" class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                My Library
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Mass Import
                    </a>
                    <a class="navbar-item">
                        Export
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/add" class="button is-primary">
                        <strong>Add a Game</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>