node_modules
.idea
*.db
/identifier.sqlite
public/stylesheets
public/images/covers
public/images/ratings
config.json
eink/__pycache__
eink/lib
eink/font5x8.bin
keys/

!public/images/covers/placeholder.jpg
