node_modules
.idea
*.db
/models/backups
/identifier.sqlite
public/stylesheets
public/images/covers
public/images/ratings
public/images/amiibo/
config.json
eink/__pycache__
eink/lib
eink/font5x8.bin
secrets/
keys/

!public/images/covers/placeholder.jpg
!public/images/amiibo/placeholder.png
!models/backups/README.txt
