<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<%- include('partials/navbar') %>
<h1 class="title">Add a Game</h1>
<h6 class="subtitle is-6">Or add many games at once with <a href="/mass_import">Mass Import</a></h6>

<div class="field">
    <label class="label">Title</label>
    <div class="control">
        <input class="input" type="text" placeholder="i.e. Gex">
    </div>
</div>

</body>
</html>
