<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('partials/metadata') %>
    <script src="/js/backend.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script>
        pingEndpoint('/api/', 'api-level', 'api-loader');
        pingEndpoint('/api/db', 'db-level', 'db-loader');
        pingEndpoint('/api/igdb', 'igdb-level', 'igdb-loader');
        fetchSystemInformation();
    </script>
</head>
<body>
<%- include('partials/navbar') %>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">
            Backend Information
        </p>
    </div>
</section>
<div class="container">
    <div class="tile is-ancestor">
        <div class="tile pt-5">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <h1 class="title">Pixel Shelf</h1>
                    <table class="table has-background-grey mr-6 ml-6">
                        <tbody class="table-body has-background-grey has-text-centered">
                        <tr>
                            <th>Version</th>
                            <td>v<%= version %></td>
                        </tr>
                        <tr>
                            <th>OS</th>
                            <td id="os-text"></td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>American Dollar ($)</td>
                        </tr>
                        </tbody>
                    </table>
                </article>
                <div class="tile">
                    <div class="tile is-child is-vertical pr-3">
                        <article class="tile is-parent box is-vertical">
                            <h1 class="title is-4">Status</h1>
                            <div class="pl-3 pr-3">
                                <nav id="api-level" class="level">
                                    <p class="has-text-light">API</p>
                                    <div id="api-loader" class="loader"></div>
                                </nav>
                                <nav id="db-level" class="level">
                                    <p class="has-text-light">Database</p>
                                    <div id="db-loader" class="loader"></div>
                                </nav>
                                <nav id="igdb-level" class="level">
                                    <p class="has-text-light">IGDB</p>
                                    <div id="igdb-loader" class="loader"></div>
                                </nav>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-child is-vertical pl-3">
                        <article class="tile is-parent box is-vertical">
                            <h1 class="title is-4">Database</h1>
                            <a href="/export">
                                <button class="button is-success">Create Backup</button>
                            </a>
                            <button class="button is-info">Check Database Integrity</button>
                            <button class="button is-warning">Clear Cover Art Caches</button>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
