<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('partials/metadata') %>
    <script src="/js/backend.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script>
        pingEndpoint('/api/', 'api-level', 'api-loader');
        pingEndpoint('/api/db', 'db-level', 'db-loader');
        pingEndpoint('/api/igdb', 'igdb-level', 'igdb-loader');
        pingEndpoint('/api/thermal-printer', 'thermal-printer-level', 'thermal-printer-loader');
        fetchSystemInformation();
        maintenanceEndpointFetch('/api/games?where=no-library', 'games-no-library');
        maintenanceEndpointFetch('/api/games?where=no-igdb', 'games-no-igdb');
        maintenanceEndpointFetch('/api/editions?where=no-upc', 'editions-no-upc');
        maintenanceEndpointFetch('/api/editions?where=no-msrp', 'editions-no-msrp');
        maintenanceEndpointFetch('/api/library?where=no-cost', 'library-no-cost');
        maintenanceEndpointFetch('/api/library?where=no-date-added', 'library-no-date-added');
    </script>
</head>
<body>
<%- include('partials/navbar') %>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">
            Backend Information
        </p>
    </div>
</section>
<div class="container">
    <div class="tile is-ancestor">
        <div class="tile pt-5">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <h1 class="title">Pixel Shelf</h1>
                    <div class="columns">
                        <div class="column">
                            <table class="table has-background-grey">
                                <tbody class="table-body has-background-grey has-text-centered">
                                <tr>
                                    <th>Version</th>
                                    <td>v<%= version %></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="column">
                            <table class="table has-background-grey">
                                <tbody class="table-body has-background-grey has-text-centered">
                                <tr>
                                    <th>OS</th>
                                    <td id="os-text"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="column">
                            <table class="table has-background-grey">
                                <tbody class="table-body has-background-grey has-text-centered">
                                <tr>
                                    <th>Currency</th>
                                    <td>American Dollar ($)</td>
                                </tr>
                                <tr>
                                    <th>Game Rating System</th>
                                    <td>ESRB</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>
                <div class="tile">
                    <div class="tile is-child is-vertical pr-3">
                        <article class="tile is-parent box is-vertical">
                            <h1 class="title is-4">Status</h1>
                            <div class="pl-3 pr-3">
                                <nav id="api-level" class="level">
                                    <p class="has-text-light">API</p>
                                    <div id="api-loader" class="loader"></div>
                                </nav>
                                <nav id="db-level" class="level">
                                    <p class="has-text-light">Database</p>
                                    <div id="db-loader" class="loader"></div>
                                </nav>
                                <nav id="igdb-level" class="level">
                                    <p class="has-text-light">IGDB</p>
                                    <div id="igdb-loader" class="loader"></div>
                                </nav>
                                <nav id="thermal-printer-level" class="level">
                                    <p class="has-text-light">Thermal Printer</p>
                                    <div id="thermal-printer-loader" class="loader"></div>
                                </nav>
                            </div>
                        </article>
                        <div class="tile is-child is-vertical">
                            <article class="tile is-parent box is-vertical">
                                <h1 class="title is-4">Library Maintenance</h1>
                                <table class="table has-background-grey">
                                    <tbody class="table-body has-background-grey">
                                    <tr>
                                        <th id="library-no-date-added-title">Library Entries without a Date Added</th>
                                        <td id="library-no-date-added-data">
                                            <div id="library-no-date-added-loader" class="loader"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th id="library-no-cost-title">Library Entries without a Cost</th>
                                        <td id="library-no-cost-data">
                                            <div id="library-no-cost-loader" class="loader"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th id="editions-no-upc-title">Editions without a UPC Code</th>
                                        <td id="editions-no-upc-data">
                                            <div id="editions-no-upc-loader" class="loader"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th id="editions-no-msrp-title">Editions without an MSRP</th>
                                        <td id="editions-no-msrp-data">
                                            <div id="editions-no-msrp-loader" class="loader"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th  id="games-no-igdb-title">Games without IGDB Metadata</th>
                                        <td id="games-no-igdb-data">
                                            <div id="games-no-igdb-loader" class="loader"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th id="games-no-library-title">Games without Library Entries</th>
                                        <td id="games-no-library-data">
                                            <div id="games-no-library-loader" class="loader"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Orphaned Editions</th>
                                        <td>
                                            <i title="Not Implemented" class="fas fa-exclamation-triangle"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Orphaned Library Entries</th>
                                        <td>
                                            <i title="Not Implemented" class="fas fa-exclamation-triangle"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-child is-vertical pl-3">
                        <article class="tile is-parent box is-vertical">
                            <h1 class="title is-4">Database</h1>
                            <a href="/export">
                                <button class="button is-success is-fullwidth">Create Backup</button>
                            </a>
                            <a>
                                <button class="button is-info is-fullwidth">Check Database Integrity</button>
                            </a>
                            <a>
                                <button class="button is-warning is-fullwidth">Clear Cover Art Caches</button>
                            </a>
                        </article>
                        <div class="tile is-child is-vertical">
                            <article class="tile is-parent box is-vertical">
                                <h1 class="title is-4">IGDB API</h1>

                                <div class="field">
                                    <label class="label">Client ID</label>
                                    <div class="control">
                                        <input disabled style="float:left; width:90%;" id="client-id-text" class="input"
                                               type="text" placeholder="">
                                    </div>
                                    <button style="float:right; width:10%;" class="button">Edit</button>
                                </div>

                                <div class="field">
                                    <label class="label">Client Secret</label>
                                    <div class="control">
                                        <input disabled style="float:left; width:90%;" id="client-secret-text"
                                               class="input" type="text" placeholder="">
                                    </div>
                                    <button style="float:right; width:10%;" class="button">Edit</button>
                                </div>

                                <button id="request-token-button" class="button is-warning is-fullwidth" onclick="requestNewToken()">Generate New Token</button>
                                <a href="https://api-docs.igdb.com">
                                    <button class="button is-info is-fullwidth">View Documentation</button>
                                </a>
                            </article>
                            <div class="tile is-child is-vertical">
                                <article class="tile is-parent box is-vertical">
                                    <h1 class="title is-4">Maps</h1>

                                    <div class="field">
                                        <label class="label">Key ID</label>
                                        <div class="control">
                                            <input disabled style="float:left; width:90%;" id="key-id-text" class="input"
                                                   type="text" placeholder="">
                                        </div>
                                        <button style="float:right; width:10%;" class="button">Edit</button>
                                    </div>

                                    <div class="field">
                                        <label class="label">Team ID</label>
                                        <div class="control">
                                            <input disabled style="float:left; width:90%;" id="team-id-text"
                                                   class="input" type="text" placeholder="">
                                        </div>
                                        <button style="float:right; width:10%;" class="button">Edit</button>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="maintenance-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="maintenance-modal-title" class="modal-card-title"></p>
            <button class="delete" aria-label="close" onclick="toggleModal()"></button>
        </header>
        <section class="modal-card-body">
            <table class="table is-fullwidth has-background-grey">
                <thead class="has-background-grey">
                <tr>
                    <th>Game</th>
                    <th>Edition</th>
                </tr>
                </thead>
                <tbody id="maintenance-modal-table-body" class="table-body has-background-grey has-text-centered">
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class="button" onclick="toggleModal()">Close</button>
        </footer>
    </div>
</div>
</body>
</html>
