<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/js/identify.js"></script>
    <link rel="stylesheet" href="./stylesheets/styles.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="container pt-5">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="title has-text-light">Identify via UPC</h1>
                <div class="field">
                    <div class="control">
                        <input required id="upc-text" class="input" type="text" placeholder="Scan the UPC">
                    </div>
                </div>
                <div class="control">
                    <button class="button is-link" onclick="submit()">Identify</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
