<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./stylesheets/styles.css">
</head>
<body>
<%- include('partials/navbar') %>
<section class="hero is-medium is-primary">
    <div class="hero-body has-text-centered">
        <p class="title">
            Pixel Shelf
        </p>
        <p class="subtitle">
            Take control of your game collection
        </p>
    </div>
</section>
</body>
</html>
