<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('partials/metadata') %>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        getSizeByPlatforms();
    </script>
</head>
<body>
<div class="is-hidden-mobile">
    <%- include('partials/navbar') %>
    <section class="hero is-medium is-primary">
        <div class="hero-body has-text-centered">
            <pixel-shelf-branding>
                <p class="title">
                    Pixel Shelf
                </p>
            </pixel-shelf-branding>
            <p class="subtitle">
                Take control of your game collection
            </p>
        </div>
    </section>
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile pt-5">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <h1 class="title is-4">Game Collection</h1>
                        <h1 id="game-count-text" class="subtitle">... Games</h1>
                        <canvas id="platforms-chart" width="100" height="75"></canvas>
                    </article>
                </div>
            </div>
            <div class="tile pt-5">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <h1 class="title is-4">Currently Playing</h1>
                        <h1 class="subtitle">RANDOM_GAME_CURRENTLY_PLAYING</h1>
                    </article>
                </div>
            </div>
            <div class="tile pt-5">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <h1 class="title is-4">Backlog</h1>
                        <table class="table is-hoverable is-striped is-fullwidth">
                            <thead>
                            <tr>
                                <th onclick="sortBy('title')">Title</th>
                            </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="is-hidden-tablet">
    <%- include('mobile/index') %>
</div>
</body>
</html>
