<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/js/library.js"></script>
    <script>fetchLibrary();</script>
</head>
<body>
<%- include('partials/navbar') %>
<table class="table is-hoverable is-striped is-fullwidth">
    <thead>
    <tr>
        <th onclick="sortBy('title')">Title</th>
        <th onclick="sortBy('platform')">Platform</th>
        <th onclick="sortBy('dateAdded')">Date Added</th>
        <th onclick="sortBy('cost')">Cost</th>
        <th onclick="sortBy('edition')">Edition</th>
    </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
</table>
<div id="main-div">
    <div class="container pt-5">
        <p class="title">Fetching Library...</p>
        <progress class="progress is-small is-primary" max="100"></progress>
    </div>
</div>
</body>
</html>
