<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="theme-color" content="#00C756">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/js/library.js"></script>
    <script>fetchLibrary();</script>
</head>
<body>
<%- include('partials/navbar') %>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">
            Game Library
        </p>
    </div>
</section>
<table class="table is-hoverable is-striped is-fullwidth">
    <thead>
    <tr>
        <th onclick="fetchLibrary('title')">Title</th>
        <th onclick="fetchLibrary('platform')">Platform</th>
        <th onclick="fetchLibrary('dateAdded')">Date Added</th>
        <th onclick="fetchLibrary('cost')">Cost</th>
        <th onclick="fetchLibrary('edition')">Edition</th>
    </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
</table>
<div id="main-div">
    <div class="container pt-5">
        <p class="title">Fetching Library...</p>
        <progress class="progress is-small is-primary" max="100"></progress>
    </div>
</div>
</body>
</html>
