<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/js/mass.js"></script>
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="container pt-5">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="title has-text-light">Mass Import</h1>

                <div class="field">
                    <label class="label">Schema</label>
                    <div class="control">
                        <input id="schema" class="input" type="text" placeholder="Type the schema for each row">
                    </div>
                </div>

                <div class="pb-3">
                    <label class="label">Variables</label>
                    <span class="tag is-primary" onclick="append('{TITLE}')">{TITLE}</span>
                    <span class="tag is-primary" onclick="append('{PLATFORM}')">{PLATFORM}</span>
                    <span class="tag is-primary" onclick="append('{EDITION}')">{EDITION}</span>
                    <span class="tag is-primary" onclick="append('{MSRP}')">{MSRP}</span>
                    <span class="tag is-primary" onclick="append('{UPC}')">{UPC}</span>
                    <span class="tag is-primary" onclick="append('{DAY}')">{DAY}</span>
                    <span class="tag is-primary" onclick="append('{MONTH}')">{MONTH}</span>
                    <span class="tag is-primary" onclick="append('{YEAR}')">{YEAR}</span>
                    <span class="tag is-primary" onclick="append('{COST}')">{COST}</span>
                    <span class="tag is-primary" onclick="append('{CONDITION}')">{CONDITION}</span>
                    <span class="tag is-info" onclick="append(',')">Comma</span>
                    <span class="tag is-warning" onclick="append('{IGNORE}')">{IGNORE}</span>
                </div>

                <textarea class="textarea" rows="10"></textarea>

                <label class="checkbox">
                    <input type="checkbox">
                    Ignore First Line
                </label>

                <div class="control pt-3">
                    <button class="button is-link">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
