<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./stylesheets/styles.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="container">
    <h1 class="title">Mass Import</h1>

    <div class="field">
        <label class="label">Schema</label>
        <div class="control">
            <input id="schema" class="input" type="text" placeholder="Type the schema for each row">
        </div>
    </div>

    <div>
        <span class="tag is-primary">{TITLE}</span>
        <span class="tag is-primary">{PLATFORM}</span>
        <span class="tag is-primary">{EDITION}</span>
        <span class="tag is-primary">{MSRP}</span>
        <span class="tag is-primary">{UPC}</span>
        <span class="tag is-primary">{DAY}</span>
        <span class="tag is-primary">{MONTH}</span>
        <span class="tag is-primary">{YEAR}</span>
        <span class="tag is-primary">{COST}</span>
        <span class="tag is-primary">{CONDITION}</span>
    </div>

    <textarea class="textarea" rows="10"></textarea>

    <div class="control">
        <button class="button is-link">Submit</button>
    </div>
</div>
</body>
</html>
