<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy - Pixel Shelf</title>
    <%- include('partials/metadata') %>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<%- include('partials/navbar') %>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <p class="title">
            Privacy Policy
        </p>
    </div>
</section>
<div class="container pt-5">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <p>
                    This document outlines how your data is collected and/or processed by Pixel Shelf. Note
                    that this document will only cover data collection by Pixel Shelf, and is not inclusive of data
                    collection policies of separate entities or dependencies such as IGDB.

                    Pixel Shelf will never sell your personal information.
                </p>
                <p class="title is-5">
                    Self-Hosted Nature
                </p>
                <p>
                    This software is designed to be self-hosted, which gives the user more control over how the software
                    is used. It is the user's responsibility for securing their own instance of Pixel Shelf and
                    understanding the risks. Without additional configuration, a self-hosted instance of Pixel Shelf
                    will use HTTP, not HTTPS.
                </p>
                <p class="title is-5">
                    Other Services
                </p>
                <p>
                    Pixel Shelf is powered by many other dependencies and APIs, such as IGDB. Any data processed by
                    Pixel Shelf may be processed by these dependencies as well and thus, may be subject to their privacy
                    policies as well.
                </p>
                <p class="title is-5">
                    Security
                </p>
                <p>
                    No form of electronic storage or transmission is 100% secure, and the chance of a data breach is
                    always possible. As a result, security cannot be guaranteed and this risk must be known to the user.
                </p>
                <p class="title is-5">
                    Changes to this Privacy Policy
                </p>
                <p>
                    This privacy policy may be changed at any time without prior notice.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
