<h1 class="title has-text-light">amiibo Added</h1>

<div class="columns">
    <div class="column is-one-fifth">
        <figure class="image">
            <img id="cover" src="/images/covers/placeholder.jpg">
        </figure>
    </div>
    <div class="column">
        <h1 id="amiibo-title" class="title has-text-light"></h1>
        <h1 id="amiibo-series" class="title is-5 has-text-light"></h1>
        <br>
        <div class="control">
            <a id="library-view">
                <button class="button is-link">View</button>
            </a>
            <a href="/add/amiibo">
                <button class="button is-light">Add Another amiibo</button>
            </a>
        </div>
    </div>
</div>