<h1 class="title has-text-light">Retailer Added</h1>

<div class="columns">
    <div class="column">
        <h1 id="retailer-title" class="title has-text-light"></h1>
        <h3 id="subtext-title" class="subtitle has-text-light"></h3>
        <br>
        <div class="control">
            <a id="retailer-view">
                <button class="button is-link">View Retailer</button>
            </a>
            <a href="/add/retailer">
                <button class="button is-light">Add Another Retailer</button>
            </a>
        </div>
    </div>
</div>