<h1 class="title has-text-light">Console Added</h1>

<div class="columns">
    <div class="column">
        <h1 id="console-title" class="title has-text-light"></h1>
        <h1 id="brand-title" class="subtitle has-text-light"></h1>
        <br>
        <div class="control">
            <a id="library-view">
                <button class="button is-link">View Console</button>
            </a>
            <a href="/add/console">
                <button class="button is-light">Add Another Console</button>
            </a>
        </div>
    </div>
</div>