<h1 class="title has-text-light">Console Information</h1>
<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input required id="name-text" class="input" type="text">
    </div>
</div>

<div class="field">
    <label class="label">Brand</label>
    <div class="control">
        <input required id="brand-text" class="input" type="text">
    </div>
</div>

<div class="control">
    <button id="submit-button" class="button is-link" onclick="submitConsoleInfo()">Next</button>
</div>

<div id="warning-div"></div>