<section class="hero is-medium is-primary is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <pixel-shelf-branding>
                <h1 class="title">Pixel Shelf</h1>
            </pixel-shelf-branding>
            <h1 class="subtitle">Take control of your game collection</h1>
            <a href="/library">
                <button class="button is-light">
                    <span>View Library</span>
                </button>
            </a>
            <br class="is-hidden-tablet">
            <br class="is-hidden-tablet">
            <a href="/add/game">
                <button class="button is-light">
                    <span>Add Game</span>
                </button>
            </a>
        </div>
    </div>
</section>