<h1 class="title has-text-light">Destination</h1>

<div class="control">
    <label class="label">Add this game to your collection or wish list?</label>
    <label class="radio">
        <input id="collection-radio" type="radio" name="destination" checked>
        Collection
    </label>
    <label class="radio">
        <input id="wishlist-radio" type="radio" name="destination">
        Wish List
    </label>
</div>
<br>

<div class="control">
    <button id="destination-submit-button" class="button is-link" onclick="submitDestinationInfo()">Next</button>
</div>